.bet-size-buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

button {
  flex-grow: 1;
}

@media (max-width: 560px) {
  .bet-size-buttons {
    gap: 10px;
  }
  
  button {
    font-size: 10px !important;
  }
}
